<div class="container">
    <nav class="card navbar navbar-default">
        <ul class="nav navbar-nav">
            <button [routerLink]="['learning']" pButton pRipple type="button" label="All Courses"
                class="p-button-rounded"></button>
            <button [routerLink]="['collections']" pButton pRipple type="button" label="Collections"
                class="p-button-rounded"></button>
            <button [routerLink]="['wishlist']" pButton pRipple type="button" label="Wishlist"
                class="p-button-rounded"></button>
            <button [routerLink]="['archived']" pButton pRipple type="button" label="Archived"
                class="p-button-rounded"></button>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>